doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		script(src='/js/main.js')
	body.indigo.lighten-5
		header
			.navbar-fixed
				nav
						.nav-wrapper.teal.darken-3
							a.brand-logo.center(href="/") Bloggings
		
		.row.center
			if user
				p You are currently logged in as #{user.firstname} #{user.lastname}
				p What would you like to do?
				a.btn(href="/users/" + user.firstname) VIEW MY PROFILE
				a.btn(href="/timeline") GO TO TIMELINE
				a.btn(href="/logout") LOG OUT
			else
				
				.container.col.s6.offset-s3#login.z-depth-3
					p LOG IN
					form(action='/login', method='POST', autocomplete='off')
						.row
							.input-field.col.s8
								i.material-icons.prefix mail_outline
								input#icon_prefix(type="email" name="email")
								label(for="icon_prefix") Email
						.row
							.input-field.col.s8
								i.material-icons.prefix lock_outline
								input#icon_prefix(type="password" name="password")
								label(for="icon_prefix") Password
						.row
							button.btn.waves-effect.waves-light(type="submit" name="submit") LOGIN
						.row
							p.center-align Don't have an account yet? 
						.row
							a.btn.waves-effect.waves-light(href="/register") REGISTER
						.row
							p#errormessage #{message}

		footer.page-footer
			.footer-copyright.teal.darken-3
				.container
					p © 2017 Copyright All rights reserved enzo
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
