doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body.indigo.lighten-5
		header
			.navbar-fixed
				nav
					.nav-wrapper
						a.brand-logo.center(href="/") Bloggings
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a.btn(href="/users/:username") Profile
								a.btn(href="/logout") Log out
		.row
			h4 Timeline
			br
			ul
				each post in postsList
					li #{post.userId} wrote:
					li=post.title
					li=post.body
					li.input-field
						i.material-icons.prefix.white-text mail_outline
						input#icon_prefix(type="text" name="comment")
						label.white-text(for="icon_prefix") Leave a comment:
					br
					p ---
					br
		footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text Footer Content
						p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
			.footer-copyright
				.container
					p © 2014 Copyright Text
				a.grey-text.text-lighten-4.right(href="#!") More Links
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
